*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f0ec;
    font-family: "Open Sans", sans-serif;
}

body.dragging-file {
    position: relative;
    overflow: hidden;
}

/* https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */
.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-menu a {
    color: #3a3a3a;
    text-decoration: none;
}

.navbar-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar-menu-container {
    margin-left: 1.5rem;
}

.navbar-menu-container.mobile.visible {
    /* These rules revert the .visually-hidden rules */
    width: initial;
    height: initial;
    padding: initial;
    margin: initial;
    border: initial;
    white-space: initial;
    overflow: initial;
    position: initial;
    clip: initial;
}

.navbar-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-items li:not(:first-child) {
    margin-left: 0.8rem;
}

.mobile-menu-button {
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

@media (max-width: 767px) {
    .navbar-wrapper {
        flex-direction: column;
        align-items: baseline;
    }

    .navbar-menu-container.mobile {
        /* This are exactly the same rules of the .visually-hidden class  */
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .navbar-menu-container, 
    .navbar-menu-container.mobile, 
    .navbar-menu-container.mobile.visible {
        margin-left: 0;
        margin-top: 1rem;
    }

    .navbar-items {
        display: block;
    }

    .navbar-items li:not(:first-child) {
        margin-left: 0;
    }

    .navbar-items li {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .mobile-menu-button {
        display: initial;
    }
}

.file-drag-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.file-drag-overlay.dragging-file {
    display: block;
}

.drop-files {
    pointer-events: none;
}

.drop-files .add-file-icon,
.drop-files p {
    color: #ffffff;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.drop-files .add-file-icon {
    font-size: 4rem;
    transform: translate(-50%, -100%);
}

.drop-files p {
    font-size: 2rem;
    transform: translate(-50%, 50%);
}

.file-upload-area {
    background-color: #b53836;
    color: #ffffff;
    max-width: 980px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    border-radius: 10px;
    text-align: center;
}

.file-upload-area h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.file-upload-area p {
    margin-bottom: 2rem;
}

.file-button {
    background-color: #ffffff;
    color: #2e2e2e;
    padding: 1rem 2rem;
    border: initial;
    border-radius: 4px;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.file-upload-icon {
    font-size: 4rem;
}

.uploaded-files {
    max-width: 980px;
    margin: 2rem auto;
}

.uploaded-files-list {
    list-style-type: none;
}

.uploaded-files-list li {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-file {
    cursor: pointer;
}

@media (max-width: 767px) {
    .file-upload-area h2 {
        font-size: 1.4rem;
    }

    .file-upload-icon {
        font-size: 2rem;
    }

    .file-button {
        font-size: 1rem;
    }
}

footer {
    margin-top: 5rem;
}

.footer-wrapper {
    background-color: #3a3a3a;
    color: #ffffff;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer-menu {
    margin-bottom: 1.5rem;
}

.footer-menu ul {
    list-style: none;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-menu ul li:not(:first-child) {
    margin-left: 0.5rem;
}

.footer-menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-menu ul li:not(:last-child)::after {
    content: "|";
    margin-left: 0.5rem;
}

.copyright {
    text-align: center;
}

@media (max-width: 767px) {
    .footer-menu ul {
        display: block;
        text-align: center;
    }

    .footer-menu ul li {
        margin-bottom: 0.5rem;
    }

    .footer-menu ul li:not(:first-child) {
        margin-left: 0;
    }

    .footer-menu ul li:not(:last-child)::after {
        display: none;
    }
}